<section class="content success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ trans('go.about') }}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>E se houvesse um aplicativo de viagem totalmente voltado às mulheres? Afinal, nós, mulheres, sabemos que o território não é neutro. Em pleno ano de 2017 ainda não podemos sair sozinhas pelas ruas à noite, por exemplo. Ou andar pela cidade com a roupa desejada. Ou viajar sozinha. Muitas vezes, para o nosso espanto, a pergunta é: mas você vai viajar sozinha?</p>
            </div>
            <div class="col-lg-4">
                <p> Inspirada pela ideia de empoderamento feminino, por amar viajar e pela história recente das argentinas, pensamos no desenvolvimento de um aplicativo de viagem para as mulheres. Surge, assim, Go Sola.</p>
            </div>
        </div>
    </div>
</section>