<section class="content success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ trans('go.about') }}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>É claro que a execução dos pontos do programa maximiza as possibilidades por conta do remanejamento dos quadros funcionais. Não obstante, a complexidade dos estudos efetuados oferece uma interessante oportunidade para verificação do levantamento das variáveis envolvidas. Assim mesmo, a consolidação das estruturas acarreta um processo de reformulação e modernização do sistema de participação geral.</p>
            </div>
            <div class="col-lg-4">
                <p> É importante questionar o quanto o entendimento das metas propostas nos obriga à análise das diretrizes de desenvolvimento para o futuro. Neste sentido, a crescente influência da mídia estimula a padronização das regras de conduta normativas. Do mesmo modo, a constante divulgação das informações deve passar por modificações independentemente das formas de ação.</p>
            </div>
        </div>
    </div>
</section>